body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
}

/* Header styles */
#header {
  background-color: #ff5d12;
  padding: 10px;
  color: #1a1a1b;
  font-weight: bold;
}

/* Main content styles */
#main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}

/* Heading-primary */
h1 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Paragraph */
p {
  margin-bottom: 10px;
  color: #333;
  line-height: 1.5;
}

/* Heading-secondary */
h3 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*bold-text */
b {
  font-weight: bold;
}

/* Lists */
ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

/* List item */
li {
  margin-bottom: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Button styles */
button {
  background-color: #cee3f8;
  color: #1a1a1b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b2d4f4;
}
